@page "/index"
@inject Repositorio.IAssociadoRepositorio associadoRepositorio;

<h1>Hello, @nome</h1>

Welcome to your new app QAS.

<SurveyPrompt Title="How is Blazor working for you?" />

<AuthorizeView>
    <Authorized>
        <p>Welcome, @context.User.Identity.Name</p>
    </Authorized>
    <NotAuthorized>
        You are signed out!
    </NotAuthorized>
</AuthorizeView>

@code {
    private string nome = "NO TESTES";

    protected async override Task OnInitializedAsync()
    {
        //var usuario = await associadoRepositorio.(1);
        //nome = usuario.Nome;
    }
}
